<div class="homepage">
  <%= render 'header_nav' %>
  <div class="form-div">
    <%= render 'tweet_form' %>
  </div>
  <div class="timeline">
    <div class="new-tweets">
      <h6>0 NEW TWEETS</h6>
    </div>
    <div class="feed">
      <%= render partial: 'tweet', collection: @tweets %>
    </div>
    <div class="view-more">
      <h6><%= link_to 'VIEW MORE' %></h6>
    </div>
  </div>
  <%= render 'who_to_follow' %>
</div>