<div class="tweet display-flex">
  <div class="profile"><%= display_avi(tweet.user.photo) %></div>
  <div class="content">
    <div class="tweet-detail display-flex">
      <p class="tweet-sender"><%= tweet.user.fullname %></p>
      <p><%= distance_of_time_in_words(Time.current, tweet.created_at) %></p>
    </div>
    <p class="tweet-text"><%= tweet.text %></p>
    <p class="upvotes"> <%= display_upvote(tweet) %> <span>(<%= tweet.upvotes.count %>)</span> </p>
  </div>
</div>